.Header {
  background: $color-white;
  box-shadow: 0px 3px 12px rgba(0, 0, 0, 0.2);
  position: sticky;
  top: 0;
  z-index: 3;
}

.Header__Layout {
  max-width: 1280px;
  width: 92%;
  margin: auto;
  display: flex;
}

.Header__Logo {
  flex: 1 1 auto;
  position: relative;
  z-index: 10;
}

.Header__Logo img {
  width: 120px;
}

.Header__Nav {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: 5;
  background: $color-white;
  display: none;
  &.Show {
    display: block;
  }
  @include media($from: 768) {
    position: relative;
    flex: 4 1 auto;
    display: block;
  }
  ul {
    width: 100%;
    height: 100%;
    padding: 0;
    display: flex;
    flex-flow: column;
    align-items: center;
    margin-top: 8em;
    @include media($from: 768) {
      flex-flow: row;
      margin: auto;
      justify-content: flex-end;
    }

    li {
      list-style-type: none;
      padding: 0.4em 1.2em;
      // font-size: 20px;
      color: $color-text;
      @include media($from: 768) {
        padding: 0px 1.2em;
      }
    }
  }
}

.Header__BtnMenu {
  align-self: center;
  display: block;
  width: 24px;
  cursor: pointer;
  position: relative;
  z-index: 10;
  @include media($from: 768) {
    display: none;
  }
  &:before,
  &:after,
  div {
    background: $color-secondary;
    content: "";
    display: block;
    height: 2px;
    border-radius: 3px;
    margin: 6px 0;
    transition: 0.5s;
  }
  &.Clicked {
    &:before {
      transform: translateY(8px) rotate(132deg);
    }
    &:after {
      transform: translateY(-8px) rotate(-132deg);
    }
    div {
      transform: scale(0);
    }
  }
}
