.Hero {
    height: 780px;
    display: flex;
    flex-flow: column;
    align-items: center;
    position: relative;
    @include media($from: 992) {
        height: 640px;
        flex-flow: row;
        justify-content: center;
    }
    &:before {
        content: '';
        background-image: url('/images/hero_2c_first_sm.svg');
        /* display: block; */
        /* text-align: center; */
        max-width: 320px;
        max-height: 350px;
        width: 100%;
        height: 100%;
        margin: 24px 0 32px;
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center;
        @include media($from: 992) {
            content: '';
            background-image: url('/images/hero_2c_first_lg.svg');
            margin: 24px 24px 12px;
        }
    }
    &:after {
        content: '';
        background-image: url('/images/hero_2c_sec_sm.svg');
        max-width: 320px;
        max-height: 350px;
        width: 100%;
        height: 100%;
        margin: 32px 0 12px;
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center;
        @include media($from: 992) {
            content: '';
            background-image: url('/images/hero_2c_sec_lg.svg');
            margin: 24px 24px 12px;
        }
    }
    &__Content {
        display: flex;
        flex-flow: column;
        align-items: center;
        justify-content: center;
    }
    &__Title {
        margin: 0.4em;
        font-size: calc(24px + 2vw);
        font-family: 'AstroSpace';
        white-space: nowrap;
        color: $color-secondary;
        @include media($from: 1200) {
            font-size: 48px;
        }
    }
    &__Tagline {
        margin: 0;
        font-size: calc(20px + 2vw);
        font-family: 'Aquire';
        color: $color-primary;
        @include media($from: 1200) {
            font-size: 38px;
        }
    }
    &__Btn {
        margin-top: 1.8em;
        font-size: calc(13px + 0.8vw) !important;
        @include media($from: 1200) {
            font-size: 20px !important;
        }
    }
    &__Circle {
        position: absolute;
        display: flex;
        justify-content: center;
        &.TxtTop > * {
            // position: absolute;
            // top: calc( -32px - 0.8vw );
            // left: calc( -18px - 0.8vw );
            margin-top: -2.25em;
        }
        &.TxtBot > * {
            // position: absolute;
            // top: calc( -32px - 0.8vw );
            // left: calc( -18px - 0.8vw );
            margin-top: 54px;
        }
    }
}