.OX {
    padding: 100px 0 0;
    &__Flex {
        display: flex;
        flex-flow: row-reverse;
        align-items: center;
        justify-content: space-between;
        position: relative;
        margin-bottom: 80px;
        &:nth-child(even) {
            flex-flow: row-reverse;
        }
        & > * {
            @include media($from: 768) {
                flex: 0 1 50%;
            }
            @include media($from: 1200) {
                flex: 0 1 50%;
            }
        }
    }
    &__Image {
        position: absolute;
        top: calc(70px + 4vw);
        left: 0;
        right: 0;
        display: flex;
        justify-content: center;
        @include media($from: 576, $to: 767.98) {
            margin-bottom: 72px;
        }
        @include media($from: 768) {
            position: relative;
            top: 0;
            flex: 0 1 45%;
        }
        @include media($from: 1200) {
            flex: 0 1 40%;
        }
        img {
            width: calc(250px + 4vw);
            @include media($from: 576) {
                width: auto;
            }
        }
    }
    &__Content {
        &Title {
            font-size: 30px;
            font-weight: 700;
            color: $color-text;
            text-align: center;
            margin: 0.4em 0 calc(200px + 4vw);
            @include media($from: 576) {
                margin: 0.4em 0 380px;
            }
            @include media($from: 768) {
                font-size: 36px;
                margin: 0.4em 0 0;
                text-align: left;
            }
        }
    }
}